<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/front-tools/css/style.css">
    <link rel="shortcut icon" href="/static/front-tools/images/clap.png" type="image">
    <script src="/static/front-tools/JS/script.js" defer></script>
    <script src="/static/front-tools/JS/upload.js" defer></script>
    <title>Forum</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/home" class="logo">
                <h2>FORUM</h2>
            </a>
        </div>
        <div class="navbar-center">
            <ul>
                <li><a href="/home" class="active-link"><img src="/static/front-tools/images/home.png"><span>Home</span></a></li>
                <li><a href="/myprofil?filter=posts"><img src="/static/front-tools/images/network.png"><span>My Profil</span></a></li>               
            </ul>
        </div>
        <div class="navbar-right">
            <div class="online">
                <img src="/static/front-tools/images/profil.jpeg" class="nav-profile-img" onclick="toggleMenu()">
            </div>
        </div>
             <!--  ---------- profile-drop-down-menu ----------   -->     
        <div class="profile-menu-wrap" id="profileMenu">
            <div class="profile-menu">
                <div class="user-info">
                    <img src="/static/front-tools/images/profil.jpeg">
                    <div>
                        <h3>{{.CurrentN}} {{.CurrentSN}}</h3>
                        <p>@{{.CurrentUN}}</p>
                    </div>
                </div>
                <hr>
                <a href="#" class="profile-menu-link">
                    <img src="/static/front-tools/images/display.png" class="darkorlight-image">
                    <img src="/static/front-tools/images/lightmod.png" class="light-mode-image" alt="Light Mode">
                    <span><button id="dark-mode-toggle"><p>Display</p></button></span> 
                </a>
                <form action="/logout" class="profile-menu-link-btn" method="post">
                    <a href="#" class="profile-menu-link">
                    <button type="submit" class="logoutbut">
                    <img src="/static/front-tools/images/logout.png">
                    <p>Logout</p>
                </button>
                <span>></span>              
                </a>     
            </form>
            </div>
        </div>   
    </nav>
                    <!--  ---------- navbar close ----------   -->

    <div class="container">
                    <!--  ---------- left-sidebar ----------   -->
                    <div class="right-sidebar">
                        <div class="sidebar-news">
                            <img src="/static/front-tools/images/filter.png" class="info-icon">
                            <h3>Filter</h3>
                            <div id="activeFilter" class="sidebar-filter">
                                <ul>
                                    <li><a href="/myprofil?filter=posts" onclick="activateFilter(this)"><span>Posts</span></a></li>
                                    <li><a href="/myprofil?filter=favorites" onclick="activateFilter(this)"><span>Favorites</span></a></li>
                                    <li><a href="/myprofil?filter=comments" onclick="activateFilter(this)"><span>Comments</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-filter-category">
                            <img src="/static/front-tools/images/category.png" class="info-icon">
                            <h3>Categories</h3>
                            <div class="sidebar-category">
                                <a href="/filter?filter=education"><img src="/static/front-tools/images/education.png">Education</a>
                                <a href="/filter?filter=sport"><img src="/static/front-tools/images/sport.png">Sport</a>
                                <a href="/filter?filter=art"><img src="/static/front-tools/images/art.png" class="radius">Art & Culture</a>
                                <a href="/filter?filter=cinema"><img src="/static/front-tools/images/cinema.png">Cinema</a>
                                <a href="/filter?filter=health"><img src="/static/front-tools/images/health.png">Health</a>
                                <a href="/filter?filter=others"><img src="/static/front-tools/images/other.png">Others</a>
                            </div>
                        </div>
                    </div>
                    <!--  ---------- main-content ----------   -->
        <div class="main-content"  style="width: 50%;">
            <div class="create-post">
                <form action="/home" id="postForm" method="post" enctype="multipart/form-data">
                    <div class="create-post-input">
                        <img src="/static/front-tools/images/profil.jpeg" alt="Profile Image">
                        <div class="title-input">
                            <p>Title :</p>
                            <input class="input-title" type="text" name="title" maxlength="25" required >
                        </div>
                        
                        <textarea rows="auto" id="postContent" placeholder="Write a post" name="post_content" wrap="soft" style="overflow-y: scroll; white-space: pre-wrap;" maxlength="1500" ></textarea>
                        <p id="errorMessage" style="color: red; display: none;">You cannot exceed 15 lines.</p>
                    </div>
                    <div class="image-upload_Preview">
                        <img id="imagePreview" src="" alt="Image Preview">
                    </div>
                    <div class="image-upload_Preview">
                        <img id="imagePreview" src="" alt="Image Preview">
                    </div>
                    <hr>
                    <div class="create-post-links">
                        <div class="category-dropdown">
                            <li id="categories-toggle">Categories</li>
                            <div class="category-list hidden">
                                <div>
                                    <input type="checkbox" id="education" value="education" name="education">
                                    <label for="education">Education</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="sport" name="sport" value="sport">
                                    <label for="sport">Sport</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="art_culture" name="art_culture" value="art & culture">
                                    <label for="art_culture">Art & Culture</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="cinema" name="cinema" value="cinema">
                                    <label for="cinema">Cinema</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="health" name="health" value="health">
                                    <label for="health">Health</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="others" name="others" value="others" checked>
                                    <label for="others">Others</label>
                                </div>
                            </div>
                        </div>
                        <div class="image-uploading">
                            <li>
                                <label for="image"  class="upload-label" style="cursor: pointer; display: flex; align-items: center;">
                                    <img src="/static/front-tools/images/photo.png">
                                    <span>Image</span> 
                                </label>
                                <input type="file" name="image" id="image" style="display: none;" accept=".jpeg, .png,.gif, .avif, .jpg, .JPG, .JPEG, .GIF, .PNG, .AVIF" onchange="checkFile()">
                                <span id="error" style="color: red;"></span> <!--displaying error if uploaded image is greater than 20MB with js-->
                            </li>
                        </div>
                        <button type="submit" name="subpost" value="SP">Post</button>
                        <!--end of upload image side-->
                    </div>
                </form>
            </div>
            
            <!------------ -display post & comment----------->
            {{if eq .Empty true}}
            <div class="vide" style="margin: 5% 40%;">
                <p>NO RESULT</p>
                <a href="/home">Go back </a>
            </div>
            {{else}}

            {{range $index, $value := .Postab}}
            <div class="post" id="{{$value.PostId}}">
                <div class="post-title">
                    <hr>
                    <h3>{{$value.Title}}</h3>
                    <hr>
                </div>
                <hr class="separate">
                <div class="post-author"> 
                    <div class="post-author_info">
                        <img src="/static/front-tools/images/profil.jpeg">
                        <div>
                            <h1>{{$value.Surname}} {{$value.Name}}</h1>
                            <small>@{{$value.Username}}</small>
                            <small>{{$value.Date}}</small>
                        </div>
                    </div>
                    <div class="date">
                        <small>{{$value.Time}}</small>
                    </div>
                </div>
                <div class="post-read">
                    <pre style="word-wrap: break-word; white-space: pre-wrap;">{{$value.Content}}</pre> 
                    {{if ne $value.ImageLink ""}}
                    <img src="/static/image_storage/{{$value.ImageLink}}" alt="post's image">
                    {{end}}
                </div>

                <div class="post-stats">
                    {{range $value.Categorie}}
                    <div>
                        <span class="liked-users">{{.}}</span>
                    </div>
                    {{end}}
                </div>
            
                <div class="post-activity">
                    <form action="/home" method="post" class="reactform">
                        <input type="text" name="Rpostid" value="{{$value.PostId}}" style="display: none;">
                        <div data-post_id="{{$value.PostId}}"  class="comment-section-toggler">
                            <img src="/static/front-tools/images/profil.jpeg" class="post-activity-user-icon">
                            <img src="/static/front-tools/images/down-arrow.png" class="post-activity-arrow-icon">
                        </div>
                        <label for="{{$value.PostId}}like" style="display: inline;">
                            <div class="post-activity-link" id="like-button">
                                {{if eq $value.SessionReact "true"}}
                                <img src="/static/front-tools/images/like.svg" style="filter:invert(39%) sepia(74%) saturate(3469%) hue-rotate(214deg) brightness(92%) contrast(91%);">
                                {{else if eq $value.SessionReact "false"}}
                                <img src="/static/front-tools/images/like.svg">
                                {{else }}
                                <img src="/static/front-tools/images/like.svg">
                                {{end}}
                                <span id="thereaction" >Like</span>
                                <span class="like-count">{{len $value.Like}}</span>
                            </div>
                        </label>
                        <input type="submit" name="react" id="{{$value.PostId}}like" style="display: none;" value="true">
                        <label for="{{$value.PostId}}dislike">
                            <div class="post-activity-link" id="dislike-button">
                                {{if eq $value.SessionReact "false"}}
                                <img src="/static/front-tools/images/dislike.svg" style="filter:invert(7%) sepia(86%) saturate(6423%) hue-rotate(9deg) brightness(89%) contrast(112%);">
                                {{else if eq $value.SessionReact "true"}}
                                <img src="/static/front-tools/images/dislike.svg">
                                {{else}}
                                <img src="/static/front-tools/images/dislike.svg">
                                {{end}}
                                <span id="thereaction">Dislike</span>
                                <span class="dislike-count">{{len $value.Dislike}}</span>
                            </div>
                        </label>
                        <input type="submit" name="react" id="{{$value.PostId}}dislike" style="display: none" value="false">
                    </form>
                        <div class="post-activity-link-comment" data-post_id="{{$value.PostId}}">
                            <img src="/static/front-tools/images/comment.png">
                            <span id="thereaction">Comment</span>
                            <span id="comment-count" class="comment-count">{{len .Comment_tab}}</span>
                        </div>
                        
                </div>
                <div class="post-activity-comment-input" id="commenting_{{$value.PostId}}">
                    <form action="/home" method="post">
                        <input type="text" name="postid" value="{{$value.PostId}}" style="display:none;">
                        <textarea id="comment-input"  rows="4" placeholder="Écrivez votre commentaire ici" name="newcomment" style="overflow-y: scroll;" maxlength="1000"></textarea>
                        <button type="submit" name="subcomm" value="SC">Comment</button>
                    </form>
                </div>
                <div id="comment-container_{{$value.PostId}}" class="comment-container">
                    <!-- Contenu des commentaires ici -->
                    {{range $value.Comment_tab}}
                    <div class="comments" id="{{.CommentId}}">
                        <div class="comment-author">
                            <div class="post-author_info">
                                <img src="/static/front-tools/images/profil.jpeg">
                                <div>
                                    <h1>{{.Name}} {{.Surname}}</h1>
                                    <small>@{{.Username}}</small>
                                    <small>{{.Time}}</small>
                                </div>
                            </div>
                            <div class="date">
                                <small>{{.Date}}</small>
                            </div>
                        </div>
                        <div class="post-read">
                            <pre style="word-wrap: break-word; white-space: pre-wrap;">{{.Content}}</pre>
                        </div>

                        <div class="post-stats">
                        </div>
                        <div class="comment-activity">
                            <form action="/home" method="post" class="reactform">
                                <input type="text" name="Rcomid" value="{{.CommentId}}" style="display: none;"> 
                                <label for="{{.CommentId}}like">
                                    <div class="post-activity-link" id="comment-like-button">
                                        {{if eq .SessionReact "true"}}
                                        <img src="/static/front-tools/images/like.svg" style="filter:invert(39%) sepia(74%) saturate(3469%) hue-rotate(214deg) brightness(92%) contrast(91%);">
                                        {{else if eq .SessionReact "false"}}
                                        <img src="/static/front-tools/images/like.svg">
                                        {{else}}
                                        <img src="/static/front-tools/images/like.svg">
                                        {{end}}
                                        <span id="thereaction">Like</span>
                                        <span class="like-count">{{len .Likecomm}}</span>
                                    </div>
                                </label>
                                <input type="submit" name="reactcomm" id="{{.CommentId}}like" style="display: none;" value="true">
                                <label for="{{.CommentId}}dislike">
                                    <div class="post-activity-link" id="comment-dislike-button">
                                        {{if eq .SessionReact "false"}}
                                        <img src="/static/front-tools/images/dislike.svg" style="filter:invert(7%) sepia(86%) saturate(6423%) hue-rotate(9deg) brightness(89%) contrast(112%);">
                                       {{else if eq .SessionReact "true"}}
                                        <img src="/static/front-tools/images/dislike.svg">
                                        {{else}}
                                        <img src="/static/front-tools/images/dislike.svg">
                                        {{end}}
                                        <span id="thereaction">Dislike</span>
                                        <span class="dislike-count">{{len .Dislikecomm}}</span>
                                    </div>
                                </label>
                                <input type="submit" name="reactcomm" id="{{.CommentId}}dislike" style="display: none;" value="false">
            
        
            
        
                                <div class="post-activity-link-reply" data-comment_id="{{.CommentId}}" data-username="student">
                                    <img src="/static/front-tools/images/reply.png">
                                    <span id="thereaction">Reply</span>
                                </div>
                            </form>
                        </div>
                        <div class="post-activity-reply-input" id="replying_{{.CommentId}}">
                            <form action="/home" method="post">
                                <input type="text" name="postid" value="{{.PostId}}" style="display: none;">
                                <input type="text" name="comId" value="{{.CommentId}}" style="display: none;">
                                <textarea id="reply-input" rows="4" placeholder="Écrivez votre commentaire ici" name="replycomm" style="overflow-y: scroll;" maxlength="1000"></textarea>
                                <button type="submit" name="subreply" value="SR">Reply</button>
                            </form>
                        </div>
                    </div>
                    {{end}}
                </div>
                
            </div>
            {{end}}
            {{end}}
            
            
        </div>
    </div> 
    <footer>
        <div class="sidebar-useful-links"> 
            <div class="copyright-msg">
                <h2>Forum</h2>
                <p>VAAMS &#169; 2023. All right reserved</p>
            </div>
        </div>
    </footer>
</body>

</html>