<!DOCTYPE html>
<html lang="en">
    {{template "head" .}}
<body>
                     <!--  ---------- navbar ----------   -->
    {{template "navbar" .}}
                    <!--  ---------- navbar close ----------   -->
                    
    <div class="container">
        <div class="right-sidebar">
            <div class="sidebar-news">
                <!-- filter by Posts Fav and Comments  -->
                <img src="/static/front-tools/images/filter.png" class="info-icon">
                <h3>Filter</h3>
                <div id="activeFilter" class="sidebar-filter">
                    <ul>
                        <li><a href="/myprofil?filter=posts" onclick="activateFilter(this)"><span>Posts</span></a></li>
                        <li><a href="/myprofil?filter=favorites" onclick="activateFilter(this)"><span>Favorites</span></a></li>
                        <li><a href="/myprofil?filter=comments" onclick="activateFilter(this)"><span>Comments</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- filter by categories  -->
            <div class="sidebar-filter-category">
                <img src="/static/front-tools/images/category.png" class="info-icon">
                <h3>Categories</h3>
                <div class="sidebar-category">
                    <a href="/filter?filter=education"><img src="/static/front-tools/images/education.png">Education</a>
                    <a href="/filter?filter=sport"><img src="/static/front-tools/images/sport.png">Sport</a>
                    <a href="/filter?filter=culture"><img src="/static/front-tools/images/art.png" class="radius">Art & Culture</a>
                    <a href="/filter?filter=cinema"><img src="/static/front-tools/images/cinema.png">Cinema</a>
                    <a href="/filter?filter=health"><img src="/static/front-tools/images/health.png">Health</a>
                    <a href="/filter?filter=others"><img src="/static/front-tools/images/other.png">Others</a>
                </div>
            </div>
            </div>
        <div class="profile-main" style="width: 50%;">
            <div class="profile-container">
                <!-- user infos  -->
                <form action="#" id="imageForm" method="post">
                    <label for="murImageInput">
                        <img src="../static/front-tools/images/mur.png" width="100%" height="300px" id="murImage" onclick="selectMurImage()">
                    </label>
                    <input type="file" id="murImageInput" name="murImage" accept="image/*" onchange="uploadMurImage()" style="display: none;" />
                </form>
                
                <div class="profile-container-inner">
                    <form action="#" id="profileImageForm" method="post">
                        <label for="profileImageInput">
                            <img src="../static/front-tools//images/profil.jpeg" class="profile-pic" width="100%" height="150px" id="profileImage" onclick="selectProfileImage()">
                        </label>
                        <input type="file" id="profileImageInput" name="profileImage" accept="image/*" onchange="uploadProfileImage()" style="display: none;" />
                    </form>
                <h1>{{.CurrentSN}} {{.CurrentN}}</h1>
                    <b>@{{.CurrentUN}}</b>
                </div>
            </div>
            
            <div class="main-content">
                            <!------------ -display post & comment----------->
                            {{template "mainContent" .}}
            </div>
            </div>
        </div>
        </div>
    </div>
  <!-- ------------------ footer -------------- -->
  {{template "footer" .}}
</body>
</html>